/*@font-face {
  font-family: "starwars";
  src: url("../fonts/STARWARS.woff");
}*/
html {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}
body {
  background-image: url("../img/StarWarsBackground.png");
  color: gray;
 }
/*
Game Title
 */
header {
  /*font-family: "starwars";*/
  letter-spacing: 4px;
  text-align: center;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 5%;
  font-size: 60px;
  /*font-size: 6vw;*/
  font-weight: bold;
  width: 100%;
  vertical-align: middle;
}
/*footer {
  position:fixed;
  left:0px;
  bottom:0px;
  font-size: 12px;
  height:30px;

  width:100%;
  background:#999;
 }*/

ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  display:table;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}
.gameInfo {
  float: left;
  width: 100px;
  height: 20px;
  color: white;
}
.gameId {
  float: right;
  margin: 0 auto;
  width: 50px;
  height: 20px;
  text-align: center;
  border: 1px solid white;
  color: white;
}
.left {
  float: left;
  width: 33%;
  height: 100%;
  margin: auto;
  left: 0;
}

.right {
  float: right;
  width: 33%;
  height: 100%;
  margin: auto;
}

.player1, .player2 {
  position: block;
  margin:  5% auto;
  padding-left: 5%;
  padding: 10px auto;
  font-size: 14px;
  /*font-style: bold;*/
  line-height: 20px;
  text-align: left;
  width: 50%;
  height: 135px;
  border: 1px dashed white;
  background-color: #666;
  color: white;
  border-radius:8%;
}
.player2 {
  margin:auto;
}
.player1 {
  margin: auto;
}
.font12 {
  font-size: 12px;
  font-style: bold;
  width: 90%;
  height: 20px;
  margin: 0 auto;
}
.font14 {
  font-size: 14px;
  width: 80%;
  height: 20px;
  margin: 0 auto;
}
.player {
  position: relative;
  clear: both;
  bottom: 0px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
  border: 1px dashed gray;
  border-radius:10%;
  width: 40%;
  font-size: 24px;
  /*font-size: 3vw;*/
}
.main {
  /*display: inline;*/
  margin: 0 auto;
  padding: 0 auto;
  float: left;
  width: 33%;
  height: 60%; 
  text-align: center;
}
.boxes{
  display: table;
  width: 300px;
  margin: auto;
  padding: auto;
  text-align: center;
}

.box {
  background-color: black;
  border: 2px solid white;
  height:95px;
  width: 95px;
 /* height: 9.5vw;
  width:  9.5vw;
*/  margin: 0 auto;
  padding: 0 auto;
  vertical-align: middle;
  float: left;
  box-shadow: 0 0 5px rgba(128, 128, 128, .9);
}

.box:hover {
  background-color: gray;
}

.boxImg {
  background-color:gray; 
  height: 93px;
  width:  93px;
/*  height: 9.2vw;
  width:  9.2vw; */
  vertical-align: middle;
  opacity: .7;
  text-align: center;
} 
.playerImg {
  margin:  0 auto;
  padding: 0 auto;
  height: 92px;
  width:  92px;
 /* height: 9vw;
  width:  9vw;*/
  opacity: .9;
}
.info {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  padding: 0 auto;
  text-align: center;
}

.message {
  margin: 0 auto;
  bottom: 80px;
  padding: 0 auto;
  font-size: 24px;
  /*font-size: 2vw;*/
  vertical-align: middle;
  opacity: .9;
  text-align: center;
}

.gameID {
  margin: auto;
  margin-top: 10px;
  padding-top: 10px;
  padding-top: auto;
  text-align: center;
  color: #ddd;
}
.buttonTable {
  width: 100%; 
}

.button {
  margin: 0 auto;
  margin-top:25px;
  margin-bottom:20px;
  padding: 30px auto;
  font-size: 16px;
  color: #ddd ;
  font-style: bold;
  background-color: #666 ;
  border: 2px outset #aaa ;
  width: 120px ;
  height: 40px;
  border-radius:8%;
  text-decoration: none ;
  text-align: center;
  vertical-align: middle;
}
.button:hover {
  opacity: .7;
  color: white;
}
.boxShadow {
  box-shadow: 6px 6px 3px #888888;
}
.buttonShadow {
  box-shadow: 1px 1px 1px #888888;
}
.font3D {
   text-shadow: 
    0 -2px 3px #FFF,
    0 -4px 3px #AAA,
    0 -6px 6px #666,
    0 -8px 9px #000;
}
.fontShadow {
   text-shadow: 
    0 -1px 2px #FFF,
    0 -3px 3px #666;
  }
/*----------------
    ANIMATION
---------------*/
 
.rotateY {
  animation-name:rotateY;
  animation-duration:1s;
  /*animation-timing-function: ease-in-out; */
  animation-iteration:1;
  -webkit-animation-name:rotateY;
  -webkit-animation-duration:1s;
  /*-webkit-animation-timing-function: ease-in-out;   */
  -webkit-animation-iteration:1;
  -moz-animation-name:rotateY;
  -moz-animation-duration:1s;
  /*-moz-animation-timing-function: ease-in-out;   */
  -moz-animation-iteration:1;
  -o-animation-name:rotateY;
  -o-animation-duration:1s;
  /*-o-animation-timing-function: ease-in-out;   */
  -o-animation-iteration:1;
}
@keyframes rotateY {
    0% {transform: perspective(400px) rotateY(0deg); }
    50% {transform: perspective(400px) rotateY(-90deg); }
    100% {transform: perspective(400px) rotateY(-180deg); }
}
@-webkit-keyframes rotateY {
    0% {-webkit-transform: perspective(400px) rotateY(0deg); }
    50% {-webkit-transform: perspective(400px) rotateY(-90deg); }
    100% {-webkit-transform: perspective(400px) rotateY(-180deg); }
}
@-moz-keyframes rotateY {
    0% {-moz-transform: perspective(400px) rotateY(0deg); }
    50% {-moz-transform: perspective(400px) rotateY(-90deg); }
    100% {-moz-transform: perspective(400px) rotateY(180deg); }
}
@-o-keyframes rotateY {
    0% {-o-transform: perspective(400px) rotateY(0deg); }
    50% {-o-transform: perspective(400px) rotateY(-90deg); }
    100% {-o-transform: perspective(400px) rotateY(180deg); }
}

 
@keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.blinker {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: 7;  
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1s; 
}  

.rotateImg {
  transform: perspective(90px) rotateY(-180deg); 
  transition: background-color 1s, opacity 0.2s, transform 1s; 
  -webkit-transform: perspective(90px) rotateY(-180deg); 
  -webkit-transition: background-color 1s, opacity 0.2s, transform 1s; 
  -o-transform: perspective(90px) rotateY(-180deg); 
  -o-transition: background-color 1s, opacity 0.2s, transform 1s; 
  -moz-transform: perspective(90px) rotateY(-180deg); 
  -moz-transition: background-color 1s, opacity 0.2s, transform 1s; ;
}
/*-------------------*/
/*Flying battleship*/
/*-----------------*/
.spaceship {
    /* initial position to be the center of the circle */
    position: absolute;
    left: 400px;
    top: 50px;
    opacity: .3;
  -webkit-animation: myOrbitY 20s linear infinite; /* Chrome, Safari 5 */
    /* animation duration, timing-function (or easing) */
    -webkit-animation: myOrbit 20s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 20s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 20s linear infinite; /* Opera 12+ */
            animation: myOrbit 20s linear infinite; /* Chrome, Firefox 16+*/, 
}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(300px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg); }
}
@-webkit-keyframes myOrbitY {
    from { -webkit-transform: rotate(0deg) translateY(300px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateY(300px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(300px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(300px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(300px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(300px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(300px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(300px) rotate(-360deg); }
}

/*-----------------*/
/*slideLeft */
/*-----------------*/
.slideLeft{
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;  
  -moz-animation-name: slideLeft;  

  animation-duration: 15s; 
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   
  -moz--animation-timing-function: ease-in-out;   
  opacity:.3;
  position: float;
  visibility: visible !important; 
}
.clear {
  clear:both;
}
@keyframes slideLeft {
  0% {transform: translateX(200%); }
  50%{transform: translateX(-8%); }
  65%{transform: translateX(4%); }
  80%{transform: translateX(-4%); }
  95%{transform: translateX(2%); }
  100% {transform: translateX(0%); }
}

@-webkit-keyframes slideLeft {
  0% {-webkit-transform: translateX(200%); }
  50%{-webkit-transform: translateX(-8%); }
  65%{-webkit-transform: translateX(4%); }
  80%{-webkit-transform: translateX(-4%); }
  95%{-webkit-transform: translateX(2%); }
  100% {-webkit-transform: translateX(0%); }
}
@-moz-keyframes slideLeft {
  0% {-moz-transform: translateX(200%); }
  50%{-moz-transform: translateX(-8%); }
  65%{-moz-transform: translateX(4%); }
  80%{-moz-transform: translateX(-4%); }
  95%{-moz-transform: translateX(2%); }
  100% {-moz-transform: translateX(0%); }
}

.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight; 

  animation-duration: 15s; 
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
 
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   
  -moz-animation-timing-function: ease-in-out;   
  opacity: 0.3;
  visibility: visible !important; 
}

@keyframes slideRight {
  0% {transform: translateX(-150%); }
  50%{transform: translateX(8%); }
  65%{transform: translateX(-4%); }
  80%{transform: translateX(4%); }
  95%{transform: translateX(-2%); }
  100% {transform: translateX(0%); }
}

@-webkit-keyframes slideRight {
  0% {-webkit-transform: translateX(-150%); }
  50%{-webkit-transform: translateX(8%); }
  65%{-webkit-transform: translateX(-4%); }
  80%{-webkit-transform: translateX(4%); }
  95%{-webkit-transform: translateX(-2%); }
  100% {-webkit-transform: translateX(0%); }
}
@-moz-keyframes slideRight {
  0% {-moz-transform: translateX(-150%); }
  50%{-moz-transform: translateX(8%); }
  65%{-moz-transform: translateX(-4%); }
  80%{-moz-transform: translateX(4%); }
  95%{-moz-transform: translateX(-2%); }
  100% {-moz-transform: translateX(0%); }
}
